html, body {
    font: 1em arial;
    margin: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#controls {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 240px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#controls > div {
    justify-content: center;
    margin: 0 auto;
}

#date {
    padding: 1rem;
}

#controls > div > * {
    width: 90%;
    display: inline-block;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}

#layers {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 240px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
#controls {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 240px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#outer-chart-container {
    position: absolute;
    height: 40vh;
    width: 90vw;
    left: 5vw;
    bottom: 5vh;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

#chart-container {
    height: 80%;
}

#chart-title {
    padding: 1rem;
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    html, body {
        font: 0.9em arial;
    }
    #controls {
        top: 0;
        left: 0;
        max-width: 100%;
        padding: 5px;
    }

    #controls > div > * {
        margin: 2px auto;
    }

    #controls > div > span {
        width: 40%;
    }

    #controls > div {
        display: flex;
    }

    #layers {
        display: none;
    }
}
